*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container{
    width: 100vw;
    margin: auto;
    padding: 10px 10vw 0 15vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "title image"
    "graphs image"
    "graphs title2"
    "comments comments";
    background-image: linear-gradient(150deg, #ffffff 0%, #b2dddf 81%);
}

.header_container{
    grid-area: title;
}

.title-1{
    font-size: clamp(40px, 5vw, 85px);
    font-weight: 600;
    letter-spacing: 6px;
}

.title-2{
    font-size: clamp(20px, 3vw, 38px);
    font-weight: 400;
    letter-spacing: 2px;
}

.shop_img{
    grid-area: image;
    width: 600px;
    margin-top: 10vh;
}

.header2__container{
    grid-area: title2;
    height: 100%;
    text-align: center;
    border: 1px white solidariant="contained" color="secondary";
    margin-bottom: 3vh;
}

.header2__title{
    font-size: clamp(30px, 4vw, 50px);
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.header2__span{
    font-weight: 800;
    font-size: clamp(30px, 4vw, 60px);
    background:linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.graph_container{
    grid-area: graphs;
    width: 100%;
}

.bar{
    box-sizing: content-box;
    padding: 15px;
    margin: 20px 0;
     width: 600px;
    height: 300px;
}

.pie{
    text-align: center;
    box-sizing: content-box;
    margin: 20px 0 0 2vw;
    width: 300px;
    height: 300px;
    padding: 15px;
}

.comments__container{
    grid-area: comments;
    width: 75%;
    margin:10vh auto;
    display: flex;
    flex-flow: column;
    justify-items: space-around;
    text-align: center;
}

.comments{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.comment{
    width: 260px;
}

.rate-modal{
    text-align: center;
}

.comment__title{
    font-size: 24px;
    font-weight: 300;
}

.comment__author{
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
}

.rating{
    margin-top: 40px;
}

@media (max-width:1500px){
    .main_container{
        padding: 20px 10vw;
    }

    .shop_img{
        width: 45vw;
        transform: translateY(-60px);
    }

    .bar{
        padding: 15px;
        margin: 20px 0;
        width: 500px;
        height: 250px;
    }
    
    .pie{
        margin: 20px 0;
        width: 300px;
        height: 300px;
        padding: 15px;
    }

    .header2__container{
        zoom: .8;
        margin-bottom: 10vh;
        transform: translateY(-60px);
    }
    
}

@media (max-width:1300px){
    .main_container{
        padding: 20px 50px;
    }

    .header_container{
        transform: translateX(5vw);
    }

    .shop_img{
        transform: translateX(-2vw);
    }

    .comments__container{
        zoom: .8;
    }

    .pie{
        transform: translateX(5vw);
    }

    .bar{
        transform: translateX(3vw);
    }
}

@media (max-width:1100px){
    .main_container{
        grid-template-areas:
        "title title"
        "title2 image"
        "graphs graphs"
        "comments comments";
        padding:40px 80px;
    }

    .header_container{
        position: absolute;
        
    }

    .shop_img{
       margin:50px auto;
       width: 40vw;
    }

    .header2__container{
        margin-top: 200px;
        transform: translateY(30px);
    }

    .graph_container{
        display: flex;
    }

    .pie{
        transform: translateX(10vw);
        width: 25vw;
    }

    .bar{
        transform: translateX(10vw);
        width: 40vw;
    }

    .comments__container{
        margin-left: 4vw;
        width: 100%;
        zoom: .7;
    }
}

@media (max-width: 800px){
    .main_container{
        padding:40px 80px;
    }

    .pie{
        transform: translateX(5vw) translateY(-5vh);
        width: 25vw;
    }

    .shop_img{
        width: 40vw;
        transform: translateY(2vh) translateX(5vw);
     }

     .bar{
        transform: translateX(10vw) translateY(4vh);
        width: 40vw;
        height: 200px;
    }

    .header2__container{
        margin-top: 200px;
    }

    .comments__container{
        margin-left: 2vw;
        width: 110%;
        zoom: .7;
    }
}

@media (max-width: 550px){
    .main_container{
        padding: 40px 80px;
        margin-left: 20px;
        grid-template-areas:
        "title title"
        "image image"
        "title2 title2"
        "graphs graphs"
        "comments comments";
    }

    .shop_img{
        width: 60vw;
        transform: translateY(10vh);
    }

    .header2__container{
        transform: translateY(-10vh);
    }

    .graph_container{
        transform: translateY(-8vh) translateX(-8vw);
    }

    .comments__container{
        transform: translateY(-100px);
        width: 95%;
    }

    .comments{
        flex-direction: column;
        align-items: center;
    }

    .comment{
        margin-bottom: 30px;
    }
    

    
}